@*
@model MummyViewModel

@foreach (Burialmain b in Model.Burialmains)
{
    <form class="formKiller">
        <partial name="BurialSummary" model="b" />
    </form>
}

    <div page-next="@Model.PageInfo" page-action="Index" page-class="btn"
         page-class-normal="btn-outline-dark" page-class-selected="btn-primary"
         page-class-enabled="true" class="btn-group pull-right m-1">

    </div>*@


@model Intex2Final.Models.ViewModels.MummyViewModel

@*<div>
    <form method="post">
            <label asp-for="Model.Burialmain.Headdirection">Head Direction</label>
                <select asp-for="Headdirection">
                    <option value=""></option>
                    <option value="W">West</option>
                    <option value="E">East</option>
                </select>
        <input type="hidden" value="@ViewBag.Burialmain.Id" name="Id" />
        <button type="submit" class="p-2" asp-controller="Home" asp-action="Dashboard" asp-route-pageNum="">Filter</button>
    </form>
</div>*@





<div>
    <form method="get">
        <input type="number" class="p-2" value="Depth(m)" name="depthIn"/>
        <input type="number" class="p-2" value="Age at Death" name="ageIn"/>

        <select class="p-2" name="sexIn">
            <option value="">Sex</option>
            <option value="M">Male</option>
            <option value="F">Female</option>
        </select>

        <select class="p-2" name="headIn">
            <option value="">Head Direction</option>
            <option value="W">West</option>
            <option value="E">East</option>
        </select>
        <input type="hidden" name="Id" />
        <button type="submit" class="p-2" asp-controller="Home" asp-action="Dashboard" asp-route-pageNum="">Filter</button>
    </form>
</div>

@*@foreach (var b in ViewBag.Burialmain)
{

    <form method="post" class="formKiller">
        <input type="hidden" name="burId" value="@b.Id" />
        <button type="submit" asp-controller="Home" asp-action="InfoPage" id="@b.Id" name="buryId" class="w-100 m-1 p-1">
            <div class="card card-outline-primary m-1 p-1">

                <div class="bg-opacity-75 p-1">
                    <h4>@b.Area.</h4>

                    <span class="badge bg-dark text-light" style="float:right">
                        Head Direction: @b.Headdirection
                    </span>
                    <br />
                    <span class="badge bg-dark text-light" style="float:right">
                        Sex: @b.Sex
                    </span>

                </div>

                <ul>
                    <li>ID: @b.Id</li>
                    <li>Square North South: @b.Squarenorthsouth</li>
                    <li>North South: @b.Northsouth</li>
                    <li>Depth: @b.Depth</li>
                    <li>East West: @b.Eastwest</li>
                    <li>Adult-Subadult: @b.Adultsubadult</li>
                    <li>Face Bundles: @b.Facebundles</li>
                </ul>

            </div>
        </button>
    </form>
}*@




<div class="row m-1 p-1">

    <div class="col-9" style="margin:auto">
        <div>
            @foreach (var b in ViewBag.Burialmain)
            {
                <form method="post" class="formKiller">
                    <partial name="BurialSummary" model="b" />
                </form>
            }

            <div page-next="@Model.PageInfo" page-action="Index" page-class="btn"
                 page-class-normal="btn-outline-dark" page-class-selected="btn-primary"
                 page-class-enabled="true" class="btn-group pull-right m-1">

            </div>
        </div>
    </div>

</div>



