@model Burialmain
<div class="center60Per">
    <h1 class="text-center display-4" style="color:#9b6e2b">Mummy Discovered at @Model.Northsouth-@Model.Squarenorthsouth, @Model.Eastwest-@Model.Squareeastwest</h1>
    <h4 class="text-center">Mummy ID: @Model.Id</h4>

    @*Each of these cards displays all the mummy information*@
    <div class="card-mummy ">
        <div class="line m-2">
            <div>
                <h3 class="m-t-3rem">Location</h3>
                <p>Area: <b>@Model.Area</b></p>
                <p>Depth: <b>@Model.Depth</b></p>
                <p>South to Feet: <b>@Model.Southtofeet</b></p>
                <p>South to Head: <b>@Model.Southtohead</b></p>
                <p>West to Head: <b>@Model.Westtohead</b></p>
                <p>West to Feet: <b>@Model.Westtofeet</b></p>
                <p>Burial Number: <b>@Model.Burialnumber</b></p>
                <p>Cluster Number: <b>@Model.Clusternumber</b></p>
                <p>Shaft Number: <b>@Model.Shaftnumber</b></p><br />
            </div>
        </div>
        <div class="line m-2">
            <div>
                <h3 class="m-t-3rem">Mummy Details</h3>
                <p>Head Direction: <b>@Model.Headdirection</b></p>
                <p>Sex: <b>@Model.Sex</b></p>
                <p>Hair: <b>@Model.Hair</b></p>
                <p>Hair Color: <b>@Model.Haircolor</b></p>
                <p>Length: <b>@Model.Length</b></p>
                <p>Preservation: <b>@Model.Preservation</b></p>
                <p>Adult sub-Adult: <b>@Model.Adultsubadult</b></p>
                <p>Age at Death: <b>@Model.Ageatdeath</b></p><br />
            </div>
        </div>
        <div class="line m-2">
            <div>
                <h3 class="m-t-3rem">Mummification details</h3>
                <p>Face Bundles: <b>@Model.Facebundles</b></p>
                <p>Goods: <b>@Model.Goods</b></p>
                <p>Wrappings: <b>@Model.Wrapping</b></p>
                <p>Samples collected: <b>@Model.Samplescollected</b></p>
                <p>Burial Materials: <b>@Model.Burialmaterials</b></p><br />
            </div>
        </div>
        <div class="line m-2">
            <div>
                <h3 class="m-t-3rem">Excavation details</h3>
                <p>Fieldbook Page: <b>@Model.Fieldbookpage</b></p>
                <p>Fieldbook Excavation Year: <b>@Model.Fieldbookexcavationyear</b></p>
                <p>Date of Excavation: <b>@Model.Dateofexcavation</b></p>
                <p>Data Expert Initials: <b>@Model.Dataexpertinitials</b></p>
                <p>Excavation Recorder: <b>@Model.Excavationrecorder</b></p>
                <p>Text: <b>@Model.Text</b></p><br />
            </div>
        </div>
    
            <a class="btn btn-outline-dark" asp-controller="Home" asp-action="Edit" asp-route-id="@Model.Id">Edit Mummy</a>
            <a class="btn btn-danger"  asp-controller="Home" asp-action="Delete" asp-route-id="@Model.Id">Delete Mummy</a>
    </div>

</div>
@*Display all the info for the Burialmain class here*@
