@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Burialmain
@*href="@Url.Action("InfoPage", "Home", new { burid = Model.Id })"*@

<a asp-controller="Home" asp-action="InfoPage" asp-route-burid="@Model.Id">
    <div class="card m-1 p-1 border-dark">
        <div class="bg-opacity-75 p-1">
            <h4 class="card-header" style="color:#9b6e2b">Mummy at: @Model.Northsouth-@Model.Squarenorthsouth, @Model.Eastwest-@Model.Squareeastwest</h4>
            @if (Model.Sex == null || Model.Sex == "")
            {
                <span class="btn btn-outline-danger text-danger centerCenter badgeDim"><h6>Sex: Unknown</h6></span>
            }
            else
            {
                <span class="badge bg-success text-white centerCenter badgeDim"><h6>Sex: @Model.Sex</h6></span>
            }

        </div>

        <ul style="color:saddlebrown" >
            <li class="list-group-item m-r-3rem">Age At Death:<b> @Model.Ageatdeath</b></li>
            <li class="list-group-item m-r-3rem">Head Direction:<b> @Model.Headdirection</b></li>
            <li class="list-group-item m-r-3rem">Depth:<b> @Model.Depth</b></li>
            <li class="list-group-item m-r-3rem">Length:<b> @Model.Length</b></li>
            <li class="list-group-item m-r-3rem">Preservation:<b> @Model.Preservation</b></li>
            <li class="list-group-item m-r-3rem" style="margin-bottom:1rem">Notes:<b> @Model.Text</b></li>

        </ul>
    </div>
</a>
